.info-bar{
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
}
.btn-watch{
  background-color: #653F37;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  border: 0px;
}
.category-box{
  width: 200px;
  margin-left: 20px;
}
.filter-bar{
  display: flex;
  justify-content: space-between;
}
.input-product{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
  
  .btn-filter{
    color: white;
    background-color: #653F37;
    padding: 10px 40px;
    border-radius: 10px;
    margin-left: auto;
  }
  table {
    width: 95%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 40px;
  }
.img-col{
  width: 70px;
  height: 70px;
}