  .btn-select, .btn-status{
    background-color: white;
    padding: 10px 40px;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid #653F37;
  }
  .btn-filter{
    color: white;
    background-color: #653F37;
    padding: 10px 40px;
    border-radius: 10px;
    margin-left: auto;
  }
  table {
    width: 95%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 40px;
  }
