<div>
    <!-- Sidebar -->
    <mat-drawer-container class="drawer-container" autosize>
        <!-- SIDE BAR-->
        <mat-drawer #drawer class="sidenav" mode="side">
            <div >
                <img class="logo" src="assets\img\Logo Jewellie.png">
            </div>
            <h2 class="title">ADMIN PAGE</h2>
            <button  class="btn-side" type="button"
                    routerLink="/get-product" routerLinkActive="active">Quản lý sản phẩm</button>
                    <br>
            <button class="btn-side btn-blog" type="button" routerLink="/get-blog"
                    routerLinkActive="active">Quản lý Blog</button>
        </mat-drawer>

        <!-- CONTAINER -->
        <div class="sidenav-content">
            <div class="sidenav-header">
                <button class="btn-menu" aria-label="Example icon button with a menu icon" type="button" mat-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                
                <div style="display: flex; align-items: stretch;">
                    <img class="account-image" src="assets\img\Account.jpg">
                    <button class="btn-logout" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button routerLink="/signin" routerLinkActive="active" mat-menu-item>
                        <span>Logout</span>
                        </button>
                    </mat-menu>
                </div>
                
            </div>
            <hr>
            <div><router-outlet></router-outlet></div>
        </div>
    </mat-drawer-container>
</div>
