.btn-primary:active, .btn-primary:hover {
    color: #42210B;
    background-color: transparent;
    border: 2px solid #42210B;
}

.btn-primary {
    color: #fff;
    background-color: #42210B;
    border: 2px solid #42210B;
    font-size: 90%;
    font-weight: 600;
}

.custom-select {
    height: 50px;
    border-radius: 0;
}