    <!-- Product List Table -->
    <div class="list-blog">
  
      <!-- <table class="table table-striped" width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên bài viết</th>
            <th>Nội dung</th>
            <th>Ngày đăng</th>
            <th>Tác giả</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blog of blogs; let i = index">
            <td scope="row" class="font-weight-bold">{{ i + 1 }}</td>
            <td>{{ blog.Title}}</td>
            <td>{{ blog.Content}}</td>
            <td>{{ blog.Date}}</td>
            <td>{{ blog.Author}}</td>
            <td><i class="bi bi-pencil-square"></i></td>
            <td><i class="bi bi-trash"></i></td>
          </tr>
        </tbody>
      </table> -->
    </div>
