<div>
  <div class="info-bar">
      <span>Sản phẩm: Tất cả (42)</span>
      <div class="button-bar">
          <button mat-raised-button class="btn-watch" color="primary">Xem trước</button>
      </div>
  </div>
</div>
<div class="container" style="width: 100%;" >
        <!-- Title -->
        <h4 class="text-center">THÊM SỬA BÀI VIẾT</h4>
        <!-- Form -->
        <form  #blogForm ="ngForm" (ngSubmit)="submitForm(blogForm)"> 
          <input type="hidden"  name="_id" [(ngModel)]="blog._id"/>
          <!-- Ten bai viet -->
          <div class="input-blog">
            <div style="display: flex">
              <div class="input-name">
                <label for="title">Title:</label>
                <input  type="text"  id="title" placeholder="Enter blog title" class="form-control"  name="title" [(ngModel)]="blog.title"
            />
              </div>
              <!-- Content -->
              <div>
                <label style="margin-left: 30px" for="content">Content:</label>
                <input style="width: 500px; margin-left: 30px" type="text" id="content" class="form-control" name="content" placeholder="Enter content"  [(ngModel)]="blog.content" />
              </div>
            </div>
            <div>
              <button class="btn btn-dark" style="background-color: #172D44; border-color: #172D44;" type="submit">Submit</button>
            <button class="btn btn-secondary ms-2" type="reset">Reset</button>
            </div>
          </div>
         <hr>
        </form>
      </div>

 <div style="margin-left: 20px; margin-right: 40px; margin-top: 30px; display: flex">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Chọn danh mục
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <li><a href="#">Dây Chuyền</a></li>
        <li><a href="#">Lắc Bạc</a></li>
        <li><a href="#">Nhẫn</a></li>
        <li><a href="#">Bông tai</a></li>
      </ul>
    </div>
    <button mat-raised-button class="btn-filter" color="primary">Lọc</button>
  </div>

  <!-- Product List Table -->
  <div class="list-product">

    <table class="table table-striped" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tiêu đề</th>
          <th>Nội dung</th>
          <th>Sửa</th>
          <th>Xóa</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let blog of blogs; let i = index">
          <td scope="row" class="font-weight-bold">{{ i + 1 }}</td>
            <td>{{ blogs}}</td>
            <td>{{ blog.content}}</td>
            <td><i class="bi bi-pencil-square" (click)="onEdit(blog)"></i></td>
            <td><i class="bi bi-trash" (click)="onDelete(blog._id, blogForm)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
